// Primary Colors
$color-primary: #283317;    // Green
$color-secondary: #ffeb3b;  // Yellow
$color-green: #4caf50;   
$color-dark: #1e1e1e;       // Black/Dark
$color-gray: #2c2c2c;
$color-error: #f44336;
$color-light: #ccc;
