// Primary Colors
$color-primary: #3e71be; // Green #283317
$color-secondary: #ffeb3b;  // Yellow
$color-green: #4caf50;   
$color-dark: #1e1e1e;       // Black/Dark
$color-gray: #2c2c2c;
$color-error: #f44336;
$color-light: #ccc;
$color-blue: #1565c0;
$color-white: #ddd;