@import '../variable';

.layout-before-login {
  width: 100vw;
  height: 100vh;
}

.signin_wrapper {
  display: flex;
  height: 100%;

  .left-side,
  .right-side {
    height: 100%;
  }

  .left-side {
    flex: 1;
    max-width: 700px;
    background-color: $color-dark;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    overflow-y: auto; // for mobile
  }

  .right-side {
    flex: 1;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-poster {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // Tablet adjustments
  @media (max-width: 1024px) {
    .left-side {
      max-width: 600px;
    }
  }

  // Mobile adjustments
  @media (max-width: 768px) {
    flex-direction: column;

    .left-side,
    .right-side {
      width: 100%;
      height: auto;
    }

    .right-side {
      height: 240px;

      .login-poster {
        height: 100%;
      }
    }

    .input-wrapper {
      width: 100%;
      max-width: 360px;
      max-height: 80vh;
      overflow-y: auto;
    }
  }
}

.input-wrapper {
  width: 100%;
  max-width: 540px;
  min-height: 540px;
  background-color: $color-gray;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-content: flex-start;
  overflow: hidden;

  &.signin {
    min-height: 440px;
    grid-template-columns: 1fr; // Signin has fewer fields
  }

  
  h2, p {
    grid-column: 1 / -1;
     margin:0px;
  }

  .primary-button {
    grid-column: 1 / -1;
    margin-top: auto;
  }

  .signup-account,
  .signin-account {
    grid-column: 1 / -1;
    text-align: center;
  }
}

.common-input {
  display: flex;
  flex-direction: column;

  label {
    color: $color-secondary;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
  }

  input {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: $color-dark;
    color: white;

    &::placeholder {
      color: #aaa;
    }

    &.error-input {
      border-color: $color-error;
    }
  }
}

.error-text {
  color: $color-error;
  font-size: 12px;
  margin-top: 4px;
}

.primary-button {
  background-color: $color-green;
  color: $color-white;
  padding: 10px;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: darken($color-green, 5%);
  }
}

.signup-account,
.signin-account {
  font-size: 12px;
  color: $color-light;

  .sign-up-link,
  .sign-in-link {
    color: $color-secondary;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
