@import "../variable";

.users-page {
  padding: 1.5rem;
  min-height: 100vh;
  color: $color-dark;

  h4 {
    color: $color-primary;
    padding: 0px;
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.add-employee-btn {
  background-color: $color-primary !important;
  color: $color-light !important;

}

.add-employee-btn:hover {
  background-color: $color-gray !important;
}
.custom-table-box {
  background-color: $color-gray;
  border: 1px solid $color-dark;
  border-radius: 8px;
  overflow-x: auto;
  min-height: 660px;
}

.employees-table {
  th {
    background-color: $color-primary;
    color: $color-light;
    font-weight: bold;
    padding: 0.75rem;
  }

  td {
    padding: 0.75rem;
    border-bottom: 1px solid darken($color-gray, 5%);
    color: $color-dark;
  }

  tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  button {
    border-radius: 4px;
    font-size: 0.8rem;
    padding: 4px 12px;
    color: $color-dark;
    border: 1px solid $color-dark;

    &:hover {
      background-color: $color-dark;
      color: $color-dark;
    }
  }
}

.MuiDialog-paper {
  height: 460px;
    min-height: 200px;
    max-width: 560px;
  border-radius: 10px;
}

.dialog-box {
  color: $color-primary;

  .dialog-details {
    display: flex;
    flex-direction: column;
    gap: 12px;

    p {
      border: 1px solid $color-gray;
      padding: 10px;
      border-radius: 6px;
      // background-color: $color-gray;
        color: $color-primary;
    }
  }
}

.MuiDialogTitle-root {
  color: $color-dark;
}

.MuiDialogActions-root {
  border-top: 1px solid $color-primary;
}

//Employee main
.employee-toolbar {
  display: flex;
  justify-content: space-between;
    align-items: center;
}
//view employee details
.view-title {
  display: flex;
  justify-content: center;
}