@import '../variable';

.users-page {
  padding: 2rem;
  //background-color: $color-light;
  min-height: 100vh;
  color: $color-dark;

  h4 {
    color: $color-primary;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.custom-table-box {
  background-color: $color-gray;
  border: 1px solid $color-primary;
  border-radius: 8px;
  overflow-x: auto;
}

.employees-table {
  th {
    background-color: $color-primary;
    color: $color-light;
    font-weight: bold;
    padding: 0.75rem;
  }

  td {
    padding: 0.75rem;
    border-bottom: 1px solid darken($color-gray, 5%);
    color: $color-dark;
  }

  tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }


  button {
    border-radius: 4px;
    font-size: 0.8rem;
    padding: 4px 12px;
    color: $color-dark;
    border: 1px solid $color-dark;

    &:hover {
      background-color: $color-dark;
      color: $color-dark;
    }
  }
}

.MuiDialog-paper {
  background-color: $color-gray;
  color: $color-light;
  border-radius: 10px;
}

.dialog-box {
  background-color: $color-dark;

  .dialog-details {
    display: flex;
    flex-direction: column;
    gap: 12px;

    p {
      border: 1px solid $color-primary;
      padding: 10px;
      border-radius: 6px;
      background-color: $color-gray;
      color: $color-light;
    }
  }
}

.MuiDialogTitle-root {
  color: $color-dark;
}

.MuiDialogActions-root {
  border-top: 1px solid $color-primary;
}


//Employee main
.employee-toolbar{
display: flex;
justify-content: space-around;
align-items: center;
}